Syndic/Service References/ServiceReference/Service32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://syndic.fullflash.fr/ServiceDocuments/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SyndicDocumentsData.Entities" />
  <xs:element name="CreateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateUserResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadPartFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Guid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filePart" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadPartFileResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="text" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Guid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="immeuble_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="copro_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CloseFileResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserFromCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserFromCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SyndicDocumentsData.Entities" minOccurs="0" name="GetUserFromCodeResult" nillable="true" type="q1:UserEntitie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserFromGuid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Guid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserFromGuidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SyndicDocumentsData.Entities" minOccurs="0" name="GetUserFromGuidResult" nillable="true" type="q2:UserEntitie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SyndicDocumentsData.Entities" minOccurs="0" name="GetAllUsersResult" nillable="true" type="q3:ArrayOfUserEntitie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserCoproprietaires">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserCoproprietairesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SyndicDocumentsData.Entities" minOccurs="0" name="GetUserCoproprietairesResult" nillable="true" type="q4:ArrayOfChildrenEntitie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCoproChildrens">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="copro_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCoproChildrensResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SyndicDocumentsData.Entities" minOccurs="0" name="GetCoproChildrensResult" nillable="true" type="q5:ArrayOfChildrenEntitie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCopro">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="immeuble_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="copro_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reference_imm" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="adresse_imm" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reference_copro" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nom" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCoproResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddCoproResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteUserResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCopro">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCoproResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteCoproResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListDocuments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="immeuble_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="copro_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListDocumentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SyndicDocumentsData.Entities" minOccurs="0" name="GetListDocumentsResult" nillable="true" type="q6:ArrayOfDocumentEntitie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteDocumentResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Connected">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConnectedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateUserResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>